<ion-header>
    <ion-navbar>
        <ion-buttons start >
          <button ion-button *ngIf="!edit" (click)="dismiss()">
             <ion-icon name="arrow-round-down"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

 <ion-content padding > 
    <form #form="ngForm" (ngSubmit)="onSubmit()">
           <button ion-button clear [disabled]="!form.valid"> 
              <ion-icon name="logo-buffer" *ngIf="!edit"></ion-icon>
              <ion-icon name="refresh" *ngIf="edit"></ion-icon>
           </button>  
            <ion-list>
                    <ion-item>
                    <ion-label floating>Descrição</ion-label>
                    <ion-input type="text" required isEmpty [(ngModel)]="address.description" name="description"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Número</ion-label>
                        <ion-input type="text" [(ngModel)]="address.number" name="number"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Cep</ion-label>
                        <ion-input type="text" required isEmpty name="zipcode" [(ngModel)]="address.zipcode"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Complemento</ion-label>
                        <ion-input type="text" name="moreInformation"[(ngModel)]="address.moreInformation"></ion-input>
                    </ion-item>
            </ion-list>
        </form>   
</ion-content>

